@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}

<h2>You should really take a listen to these AMAZING podcasts. I think you will enjoy them!</h2>
<br />
<p>Click <a href="https://baconsale.com/">HERE</a> For the link</p>
<br />


